// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.navbar {
  position: fixed;
  width: 100%;
  z-index: 99;
  transition: background-color 0.3s ease-in;

  .fa-bars {
    color: $energy-yellow;
    font-size: 28px;
  }

  &-logo {
    width: auto;
    height: 40px;
  }

  &.bg-white,
  &.bg-white-toggle {
    background-color: $white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);

    .nav-link,
    .navbar-brand {
      color: $maire;
    }

    .nav-link.btn-default {
      color: $energy-yellow;
    }
  }

  &-brand {
    font-size: 43px;
    font-weight: 800;
    color: $sugar-cane;
  }

  .nav-link {
    font-weight: 600;
    font-size: 17px;
    color: $sugar-cane;
  }

  .nav-item {
    padding: 0 15px;
  }
}

.navbar-nav .nav-link.btn-default.btn-transparent,
.btn-default.btn-transparent {
  font-size: 17px;
}

@include respond-to(md-down) {
  .navbar-nav .nav-link.btn-default.btn-transparent,
  .btn-default.btn-transparent {
    width: 100%;
    display: table-cell;
    border: none;
    padding: 4px 0;
  }
}
