// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}

.swiper-pagination-bullet-active {
  background-color: $energy-yellow;
}

img {
  width: 100%;
  height: auto;
}

.separator {
  border-top: 5px solid $energy-yellow;
  width: 150px;
  max-width: 100%;
}

ul li,
ul {
  padding-left: 0;
  list-style: none;
}

@include respond-to(sm-down) {
  .separator {
    margin: 0 auto 25px;
  }
}
